<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233743835239-l860ojf6fj4rouj9ei0610jig2507sft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233743835239-l860ojf6fj4rouj9ei0610jig2507sft</string>
	<key>API_KEY</key>
	<string>AIzaSyBcB1UJUSL-IumhId4krNCW_MRqtwSWjyA</string>
	<key>GCM_SENDER_ID</key>
	<string>233743835239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-fb2a6</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-fb2a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233743835239:ios:b9709afc7e580dfcef34c2</string>
</dict>
</plist>